<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paulvarry.intra42">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <!-- <uses-permission android:name="android.permission.WRITE_CONTACTS" /> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <application
        android:name=".AppClass"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchableActivity" />

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Login">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.paulvarry.intra42" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity
            android:name=".activities.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.user.UserActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="Open 42 login">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter android:label="Intra42 user">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="profile.intra.42.fr"
                    android:pathPrefix="/users"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.users.UsersActivity"
            android:label="@string/title_activity_users"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.projects.ProjectsActivity"
            android:label="@string/title_activity_projects"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.project.ProjectActivity"
            android:label="@string/title_activity_project"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- <intent-filter android:label="Intra42 project"> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->


            <!-- <data -->
            <!-- android:host="projects.intra.42.fr" -->
            <!-- android:scheme="https" -->
            <!-- android:pathPattern="/*/*" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.forum.ForumActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".activities.TopicActivity"
            android:label="@string/title_activity_topic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.NewTopicActivity"
            android:label="@string/title_activity_forum_new_topic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.notions.NotionsActivity"
            android:label="@string/title_activity_elearning"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SubnotionListActivity"
            android:label="@string/title_activity_sub_notion"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.TimeActivity"
            android:label="@string/title_activity_time"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.clusterMap.ClusterMapActivity"
            android:label="@string/title_activity_cluster_map"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".notifications.AlarmReceiverNotifications" />

        <service
            android:name=".notifications.IntentServiceNotifications"
            android:exported="false" />
        <service
            android:name=".notifications.IntentEvent"
            android:exported="false" />
        <service
            android:name=".notifications.NotificationsJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".activities.EventActivity"
            android:label="@string/title_activity_event"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.provider.calendar.action.HANDLE_CUSTOM_EVENT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/event" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SearchableActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.tags.TagsActivity"
            android:label="@string/title_activity_tag"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.LibraryListActivity"
            android:label="@string/title_activity_library_list"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".activities.MarvinMealsActivity"
            android:label="@string/title_activity_cantina_menu" />
        <activity
            android:name=".activities.ExpertiseEditActivity"
            android:label="@string/user_expertise_edit_plural" />
        <activity
            android:name=".activities.FriendsActivity"
            android:label="@string/title_activity_friends" />
        <activity
            android:name=".activities.LocationHistoryActivity"
            android:label="@string/title_activity_user_location_history" />
        <activity
            android:name=".activities.TestingActivity"
            android:label="Testing"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".activities.FriendsGroupsActivity"
            android:label="R.string.title_activity_friends_groups" />
        <activity android:name=".activities.FriendsGroupsEditActivity" />
        <activity
            android:name=".activities.CoalitionsActivity"
            android:label="@string/title_activity_coalitions"
            android:parentActivityName=".activities.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.paulvarry.intra42.activities.home.HomeActivity" />
        </activity>
        <activity
            android:name=".activities.ClusterMapContributeActivity"
            android:label="@string/title_activity_cluster_map_contribute" />
        <activity
            android:name=".activities.ClusterMapContributeEditActivity"
            android:label="@string/title_activity_cluster_map_contribute_edit" />
        <activity android:name=".activities.ImageViewerActivity" />
        <activity
            android:name=".activities.intro.IntroActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>