package com.paulvarry.intra42;

public class Credential {

    public static final String UID = "your_uid";
    public static final String SECRET = "your_secret";
    public static final String API_OAUTH_REDIRECT = "com.paulvarry.intra42://oauth2redirect";
    public static final String SCOPE = "public projects forum profile elearning";

}
